<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Imobiliária WSBrasil - Enviar Mensagem</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<header class="position-fixed top-0 z-3 w-100">
    <!-- Menu de navegação do Header -->
    <section class="py-3 bg-light border-bottom border-primary-subtle">
        <div class="container d-flex align-items-center justify-content-between">
            <a class="d-flex align-items-center gap-1" href="/">
                <img class="h-100 invert-1" src="assets/img/logo.svg" alt="">
                <p style="line-height: 1" class="alternative-font fs-2 fw-bold m-0">Imobiliária <br/> WSBrasil
                </p>
            </a>
            <nav class="d-flex align-items-center gap-5">
                <a class="text-decoration-none text-dark" href="/search">Busca</a>
                <div class="d-flex align-items-center gap-3">
                    <a class="text-decoration-none text-white btn px-3 py-2 btn-primary rounded-0 rounded-bottom-right rounded-top-left" href="/contact">
                        Contato
                    </a>
                    <a class="text-decoration-none text-white btn px-4 py-2 btn-primary rounded-0 rounded-bottom-right rounded-top-left" href="/login">
                        Login
                    </a>
                </div>
            </nav>
        </div>
    </section>
</header>
<main class="mt-5 pt-5">
    <div class="container mt-5 pt-5">
        <h1 class="text-primary mb-5">Contato</h1>
        <div class="w-100 d-flex align-items-center justify-content-center">
            <!-- Formulário de Contato -->
            <form class="border-dark-subtle border w-50 p-5 d-flex flex-column align-items-center justify-content-center gap-5 rounded rounded-3">
                <span class="fs-1 fw-bold text-info">ENVIAR MENSAGEM</span>
                <div class="d-flex flex-column w-100 gap-3">
                    <!-- Inserir nome -->
                    <div class="form-floating w-100">
                        <input type="text" class="form-control" id="nome" placeholder="Nome"
                               name="nome">
                        <label>Nome</label>
                    </div>
                    <!-- Inserir email -->
                    <div class="form-floating w-100">
                        <input type="Email" class="form-control" id="email" placeholder="Email"
                               name="email">
                        <label>Email</label>
                    </div>
                    <!-- Inserir mensagem -->
                    <div class="form-floating w-100">
                        <textarea rows="5" class="form-control" id="mensagem" placeholder="Mensagem"
                                  name="mensagem"></textarea>
                        <label>Mensagem</label>
                    </div>
                </div>
                <button type="submit" class="mt-5 btn btn-info text-light px-5 py-3 fs-5">Enviar</button>
            </form>
        </div>
    </div>
</main>
<!-- Footer -->
